<article>

	<p id="notice"><%= notice %></p>

	<h1><%= deUrlizeTitle( @article.title ) %> </h1>

	<%= link_to 'Edit', edit_article_path(@article) %>

	<p> 
  	<%= raw(wikiToHtml( @article.content )) %>
	</p>

</article>
