/*/*.user           #User specific solution and project settings
/*/*.suo
/*/*.sln.cache
[bB]in/
[bB]in/*
[oO]bj/
[oO]bj/*
/*/*.xap
/*/_ReSharper.*  #Resharper database
TestResults/   #MSTest result files
/*/*.pdb